$fontSizeStart: 16;
$fontSizeEnd: 12;
$subtextSizeStart: 14;
$subtextSizeEnd: 12;
$titleSizeStart: 22;
$titleSizeEnd: 18;
$subtitleSizeStart: 18;
$subtitleSizeEnd: 16;
$radius: 4px;
$padding: 5px;
$paddingMedium: 15px;
$paddingGrand: 30px;

$backgroundColor: #fff;
$unactiveColor: #efeded;
$unactiveFontColor: #989898;
$fontColor: #000;
$fontSecondaryColor: rgba(
    $color: #000000,
    $alpha: 0.56
);
$primaryColor: #1f93ff;
$primaryYellow: #d8cd2c;
$primaryRed: #ff471f;
$primaryGreen: #46bc32;
$secondaryColor: #0063be;

$maxWidth: 1440;
$maxWidthContainer: 1170;

@mixin adaptive-value($property, $startSize, $minSize, $type) {
    $addSize: $startSize - $minSize;
    @if $type==1 {
        //только если меньше контейнера
        #{$property}: $startSize + px;
        @media (max-width: #{$maxWidthContainer + px}) {
            #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
        }
    } @else if $type==2 {
        //только если больше контейнера
        #{$property}: $startSize + px;
        @media (min-width: #{$maxWidthContainer + px}) {
            #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
        }
    } @else {
        // всегда
        #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
    }
}
